@media (min-aspect-ratio: 3/4) {

	@media (max-height: 850px) {
		#page {
			width: 400px;
		}

		#card_space {
			border: solid 1px #fbdec0;
		}

		#narrative {
			box-shadow: none;
			border-width: 0;
		}

		#balance {
			border: solid 1px #fbdec0;
		}

		#balance img {
			margin: 10px 6%;
		}
	}	
	
	@media (min-height: 850px) {
		#page {
			width: 600px;
		}

		#card_space {
			border-width: 0 50px;
		}

		#narrative {
			border-width: 5px;
		}

		#balance img {
			margin: 6%;
		}
	}

	#page {
		margin: 0 auto;
	}
}

@media (max-aspect-ratio: 3/4) {
	#page {
		width: 100%;
	}

	#card_space {
		border-width: 0 50px;
	}

	#narrative {
		border-width: 5px;
	}

	#links {
		margin: 0 60px;
	}

	#sound_switch {
		position: absolute;
    	right: 120px;
    	bottom: 0;
	}

	#balance img {
		margin: 6%;
	}
}
