@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	height: 100%;
}

body {
	font-family: 'Cinzel', serif;
	background-color: black;
	margin: 0;
	overflow: hidden;
	user-select: none;
	height: 100%
}

#page {
	position: relative;
	height: 100%;
	overflow: hidden;
	/* border: solid 1px #fbdec0; */
	/* background-color: #3a2027; */
}

#card_space {
	padding: 8px;
	height: 100%;
	border-style: solid;
	border-width: 0 50px;
	border-image: url('../img/side.png') 0 100;
}

/* #card_space {
	border-style: solid;
    border-image: url(../img/card-side.png) 0 100;
    height: 100%;
    border-width: 0 50px;
} */

#balance {
	background-color: #60331c;
	width: calc(100%-10px);
	padding: 0px 15%;
	border-style: solid;
	border-color: #fbdec0;
	border-width: 5px 5px 0 5px;
}

#balance img {
	width: 7%;
	aspect-ratio: 1/1;
	margin: 8%;
}

#narrative {
	font-family: 'Playfair Display', serif;
	padding: 10pt;
	margin: 0 auto;
	background-color: #e9ab6a;
	color: black;
	box-shadow: 0 0 0 4px #60331c, 0 0 0 8px #fbdec0;
	border-color: #fbdec0;
	border-style: solid;
	border-width: 5px;
	/* border-image: url('../img/narrative-side.png') 0 100; */
}

q {
	font-style: italic;
	quotes: none;
}

ins {
	display: block;
	text-align: right;
	font-weight: bold;
	font-style: normal;
	font-family: 'Cinzel', serif;
	font-size: initial;
	text-decoration: none;
}

#card_behind,
.swipe {
	position: absolute;
	bottom: 7%;
	left: 50%;
	width: 70%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#card_behind {
	transform: translate(-50%, 0);
}

.swipe {
	transform: translate(-50%, 50%);  /* also hardcoded in swipe.js -> rotate() */
	transform-origin: 0% 200%;
}

#card_offset {
	visibility: hidden;
}

.card {
	background-color: #fbdec0;
	aspect-ratio: 4/5;
	border-radius: 30pt;
	margin: 0;
	padding: 0;
	border: solid 1px #60331c;
}

.card img {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.left.action {
	text-align: left;
	right: 0;
}

.right.action {
	text-align: right;
	left: 0;
}

.action {
	display: none;
	padding: 10pt 20pt;
	font-size: larger;
    width: 50%;
	color: white;
	position: absolute;
	font-weight: bold;
	font-family: 'Cinzel', serif;
}

.button {
	cursor: pointer;
	border-radius: 20%;
	/* background-color: white; */
	float: right;
}

#links {
	width: 100%;
	font-size: small;
	position: absolute;
	bottom: 0;
}

#links a {
	text-decoration: none;
	color: white;
	height: 100%;
	vertical-align: middle;
}

.nav {
	width: 20px;
}