body {
	background-color: black;
	margin: 0;
	overflow: hidden;
}

#page {
	position: relative;
	height: 100vh;
	/*background-color: white;*/
	overflow: hidden;
	border: solid 1px white;
}

#balance {
	background-color: white;
	width: 100%;
	padding: 0px 10px;
}

#balance img {
	width: 100px;
	height: 100px;
	margin: 20px;
}

#narrative {
	padding: 10pt 50pt;
	margin: 0 auto;
	background-color: black;
	color: white;
}

.instructions {
	text-align: right;
	font-style: italic;
}

#card_behind,
.swipe {
	position: absolute;
	bottom: 10px;
	left: 50%;
	width: 70%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#card_behind {
	transform: translate(-50%, 0);
}

.swipe {
	transform: translate(-50%, 50%);  /* also hardcoded in swipe.js -> rotate() */
	transform-origin: 0% 200%;
}

#card_offset {
	visibility: hidden;
}

.swipe .card .action {
	display: none;
}

.card {
	background-color: lightgrey;
	aspect-ratio: 4/5;
	border-radius: 30pt;
	margin: 0;
	padding: 0;
}

.card img {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

#rightswipeshow,
#leftswipeshow {
	z-index: 1;
	opacity: .7;
}

#rightswipeout .card,
#leftswipeout .card {
	background-color: black;
	border: solid 1px white;	
	opacity: .5;
}

#rightswipeshow .card,
#leftswipeshow .card {
	background-color: white;
	border: solid 1px black;
}

#leftswipeshow {
	transform: rotate(-10deg);
}

#leftswipeout {
	transform: rotate(-45deg);
}

#rightswipeshow {
	transform: rotate(10deg);
}

#rightswipeout {
	transform: rotate(45deg);
}

.left.action,
#leftswipeshow .card .action {
	text-align: left;
	right: 0;
	position: absolute;
}

.right.action,
#rightswipeshow .card .action {
	text-align: right;
	left: 0;
}

.action {
	padding: 10pt 20pt;
	font-size: larger;
    width: 50%;
	color: white;
	position: absolute;
}

.button {
	cursor: pointer;
	border-radius: 20%;
	background-color: white;
}

#links {
	position: absolute;
	bottom: 0;
}
